@import "_reset";

body {
  background-color: lightpink;
  color: rgb(66, 48, 0);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.cube-info {
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
  animation: rotate 7s ease-in-out 0.01s infinite alternate forwards;
}

.box-2d {
  height: 180px;
  position: absolute;
  width: 180px;
  display: grid;
  place-content: center;
  border: 5px solid brown;
}

.box-1 {
  transform: rotate(-45deg) skew(15deg, 15deg);
}
.box-2 {
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}
.box-3 {
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

//3d cube
.wrapper {
  margin-left: 16rem;
  top: 54%;
  left: 50%;
  position: absolute;
  perspective: 1000px;
}
.box-area {
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 8s linear 0.1s infinite alternate forwards;
  transform: rotateX(90deg) rotateY(90deg);
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.box-3d {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(13, 241, 203);
  color: rgb(57, 151, 228);
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.front {
  transform: translateX(-100px) translateY(-100px) translateZ(100px);
}
.back {
  transform: translateX(-100px) translateY(-100px) translateZ(-100px);
}
.right {
  transform: translateY(-100px) rotateY(90deg);
}
.left {
  transform: translateX(-200px) translateY(-100px) rotateY(90deg);
}
.bottom {
  transform: translateX(-100px) rotateX(90deg);
}
.top {
  transform: translateX(-100px) translateY(-200px) rotateX(90deg);
}
